* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #C7C7C7;
    text-decoration: none;
    
    
}
nav a:first-child {
    color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #012D63;

}

nav a {
    margin: 0 20px;
}

.languages a:last-child {
    color: #ffffff;
}

.description-block {
    background-image: url('./src/img/air.jpg');
}

.logo-container {
    padding: 94px 0 40px 0;
}

h1 {
font-family: 'Playfair Display';
font-weight: 400;
font-size: 144px;
line-height: 192px;
color: #FFFFFF;
}